# This file managed by Ansible from users role. Changes will be overwritten.

{% if group_item.sudo|d(None) and group_item.state | default('synced') != 'absent' %}
{% if group_item.sudo == 'nopasswd' %}
%{{ group_item.name }} ALL=(ALL) NOPASSWD: ALL
{% elif group_item.sudo | bool %}
%{{ group_item.name }} ALL=(ALL) ALL
{% elif group_item.sudo is mapping %}
%{{ group_item.name }} {{ group_item.sudo.hosts | default('ALL') }}={{ "(" ~ group_item.sudo.users | default('ALL') ~ ")" }} {{ "NOPASSWD:" if group_item.sudo.nopasswd | default(false) else "" }} {{ group_item.sudo.commands | default('ALL') }}
{% endif %}
{% endif %}
