# This file managed by Ansible from users role. Changes will be overwritten.

{% if users_sudo and users_state != 'absent' %}
{% if users_sudo == 'nopasswd' %}
%{{ users_group }} ALL=(ALL) NOPASSWD: ALL
{% elif users_sudo | bool %}
%{{ users_group }} ALL=(ALL) ALL
{% elif users_sudo is mapping %}
%{{ users_group }} {{ users_sudo.hosts | default('ALL') }}={{ "(" ~ users_sudo.users | default('ALL') ~ ")" }} {{ "NOPASSWD:" if users_sudo.nopasswd | default(false) else "" }} {{ users_sudo.commands | default('ALL') }}
{% endif %}
{% endif %}
